<footer class="main-footer">

  <div class="row footer-row">
    <div class="col-xl-4">

      <h3>Bihar Blood Bank</h3>

      <div class="social-links">
        <img src="../../assets/image/icons8-facebook-60.png" alt="">
        <img src="../../assets/image/icons8-instagram-64.png" alt="">
        <img src="../../assets/image/icons8-twitter-60.png" alt="">
      </div>




    </div>
    <div class="col-xl-4">

      <nav class="footer-nav">
        <ul class="footer-nav__items">
          <li class="footer-nav__item">
            <p>Resources</p>
          </li>
          <li class="footer-nav__item">
            <a href="customers/index.html">About Us</a>
          </li>
          <li class="footer-nav__item">
            <a href="customers/index.html">Bloodbank Number</a>
          </li>
          <li class="footer-nav__item">
            <a href="packages/index.html">Contact us</a>
          </li>
          <li class="footer-nav__item">
            <a href="event/index.html">Upcoming Events</a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="col-xl-4">
      <p>
        Bihar Blood Bank is a initiative started by Maa Vaishno Devi Seva Samiti from patna Bihar. Through this website
        we want to organise all the donors at one place and on a few clicks needy peoples will get the contacts of blood
        donors at there area.
      </p>
    </div>
  </div>

  <div class="copyright">
    <span>© 2020 DevworkxLabs. All Rights Reserved.</span>

    <a class="copyright-link" href="">Privacy policy</a>
    <a class="copyright-link" href="">Terms of Use</a>
  </div>

</footer>
