<p>Bihar Blood Bank is a initiative started by Maa Vaishno Devi Seva Samiti from patna Bihar. Through this website
  we want to organise all the donors at one place and on a few clicks needy peoples will get the contacts of blood
  donors at there area. Maa Vaisno Devi Seva Sansthan Patna had organised many Blood donation camps at many places
  of bihar and the collection of bloods from that camp became helpful for many lifes.</p>
<br>
<p>
  <em>Important</em> : All Voluntary Donors are warned of likely misuse of blood donated by them at the hospital
  with or
  without the knowledge of the hospital management. We have come to know of such misuse at various towns and
  cities.
  Biharbloodbank.com requests all donors to take a little extra care by verifying the genuine need by contacting
  the
  patient's relatives and doctors. At some places the hospital staff have taken the blood and sold it to others
  for
  a price. As a responsible citizen/donor we request you to keep a watch on such people and hospitals. There is a
  severe shortage of safe blood and voluntary donors. Donors must inform the Biharbloodbank.com team
  members/coordinators of such areas in case of any doubt.

</p>
