.doner-container {
  min-height: calc(100vh);
}

.example-header-image {
  background-color: #F44336;
  background-size: cover;
}

label {
  display: block;
  font-size: 14px;
}

.description {
  font-size: small;
  margin-right: 12px;
}

.details {
  display: block;
  font-size: small;
  color: rgb(175, 170, 170);
}

mat-panel-description {
  // height: 48px;
  padding: 12px;

}

mat-card {
  margin-bottom: 10px;
}

.comment {
  margin-left: 12px;
}

.full-width {
  width: 100%;
}

.bloodgroup {
  color: #F44336;
}

ul {
  list-style: none;
}

.mat-card-header-text {
  width: 100%;
}

.description {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
