<div class="doner-container">
  <div class="row">
    <div class="col heading">
      <h3>Requests</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6" *ngFor="let request of requests">
      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-subtitle>
            <div class="row">
              <div class="col-3">
                <ul>
                  <li> <label> Patient Name:</label></li>
                  <li> <label> Blood Required:</label></li>
                  <li> <label> Contact Person:</label></li>
                  <li> <label> Requested Date:</label></li>
                  <li> <label> Address:</label></li>
                  <li> <label> Poster Name:</label></li>
                  <li> <label> Poster Mail:</label></li>
                </ul>
              </div>
              <div class="col-9">
                <ul>
                  <li><span class="description">{{request.patientName}}, {{request.patientAge}},
                      {{request.gender}}</span></li>
                  <li><span class="description">{{request.patientName}}</span></li>
                  <li><span class="description">{{request.contactPersonName}}</span></li>
                  <li><span class="description">{{request.creationDate.toDate()  | date:'MM-dd-yyyy'}}</span></li>
                  <li><span class="description">{{request.address}}</span></li>
                  <li><span class="description">{{request.initiatorUserName}}</span></li>
                  <li><span class="description">{{request.initiatorMailId}}</span></li>

                </ul>
              </div>
            </div>
          </mat-card-subtitle>

        </mat-card-header>

        <mat-accordion class="example-headers-align" collapsedHeight="56px">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <mat-icon>message</mat-icon>
                <label class="comment">Comments</label>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <label>Reason: Road accident</label>
          </mat-expansion-panel>
        </mat-accordion>



      </mat-card>
    </div>
  </div>
</div>
