* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
}



.main-header {
  margin-left: 100px;
  margin-right: 100px;
  // width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #FFBF80;
  text-decoration: none;
  font-weight: bold;
  height: 3.5rem;
  display: inline-block;
  vertical-align: middle;
}

.tagline {
  color: white;
  // margin-left: 15px;

}

.main-header__brand img {
  height: 100%;
  /* width: 100%; */
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #FF0000;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #FF4040;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #FF0000;
  background: white;
  // border: none;
}

.active-route {
  // color: rgb(214, 198, 181);
  // padding: 0;
  border: 2px solid white;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 44px);
    vertical-align: middle;
  }
}
