<div class="main-container ">



  <div class="landing-image">

    <div class="landing-card">
      <div class="title" [routerLink]="'/dashboard/requests'">
        <img src="../../../assets/image/hand.svg" alt="">
        <span> Request Blood</span>
      </div>
    </div>

    <div class="landing-card">
      <div class="title" [routerLink]="'/dashboard/doners'">
        <img src="../../../assets/image/transfusion.svg" alt="">
        <span>Find Blood Donor</span>
      </div>
    </div>

  </div>


  <div class="row info-banner no-gutters">
    <div class="col-4 info-container">
      <div class="title">
        Why to donate Blood?
      </div>
      <div class="read-more">
        Read More
      </div>

    </div>
    <div class="col-4 info-container">
      <div class="title">
        Who can give Blood?
      </div>
      <div class="read-more">
        Read More
      </div>

    </div>
    <div class="col-4 info-container">

      <div class="title">
        How to Donate Blood?
      </div>
      <div class="read-more">
        Read More
      </div>

    </div>

  </div>



  <!-- <div class="row">
    <div class="col-sm-6">
      <ng-image-slider [images]="galleryImageObject" [imagePopup]="true" [imageSize]="{  width: '50%', height: 400 }"
        [infinite]="true" [autoSlide]="2" [slideImage]="1" [animationSpeed]="4" #nav>
      </ng-image-slider>
    </div>
    <div class="col-sm-6">
      <ng-image-slider [images]="donationCampGalleryImageObject" [imagePopup]="false"
        [imageSize]="{  width: '50%', height: 400 }" [infinite]="true" [autoSlide]="2" [slideImage]="1"
        [animationSpeed]="4" #nav>
      </ng-image-slider>
    </div>
  </div> -->
</div>
