<h3>
  BLOOD DONATION ELIGIBILITY GUIDELINES</h3>
<p>
  here are many doubts surrounding the donation and receiving of blood. Many people do not donate blood because they are
  scared that it will harm them in some way, or because they are not sure of what it involves.
  This FAQ may allay some doubts. Please CONTACT US with any further questions that you may have.
</p>
<p><b>Is it safe to donate blood?</b><br>
  Donating blood is very safe and simple. We use only totally sterile disposable blood bags and needles.</p>
<p>
  <b>How long will it take to replenish the blood I have given?</b><br>
  Blood volume or plasma is replaced within 24 hours. Red cells need about 21 days for complete replacement.
</p>

<p>
  <b>Who is eligible to donate blood?</b><br>
  <br>
  In India, you can start donating blood at the age of 18 and up to the age of 60 if you weigh at least 45 kg and be in
  good health.

</p>
<p>
  <b>Can I donate blood during menstruation?</b>
  <br>
  No, you cannot donate during menstruation.

</p>

<p>
  <b>How often can I donate blood?</b>
  <br>
  Whole blood donors can give blood once every 90 days. Apheresis platelet donors can donate more frequently - as much
  as twice in one week and upto 24 times a year (Apheresis platelet donation takes only blood components and not whole
  blood and hence is allowed more often).
</p>

<p>
  <b>How much blood is collected per donation?</b>
  <br>
  Only 350 ml for whole blood if you weigh 45 kg to 50 kg (or) 450ml of blood if you weigh more then 50 kg. This works
  to just 8-9 ml per Kg while a male has about 26 ml of reserve blood per kg in the body while a female has about 16 ml
  of reserve per kg.
</p>
<p>
  <b>Who gets the blood that I donate? </b>
  <br>
  Premature babies, pregnant mothers, cancer patients, hemophiliacs, accident victims, people undergoing various
  surgeries or transplants, and many others. 40% of the Blood that is collected by the Rotary TTK Blood bank is given to
  Government Hospitals and free to poor patients.Free transfusion for the Thalasemia patients who need regular monthly
  blood transfusion throughout life.
</p>
<p>
  <b>What should I do before donating?</b>
  <br>
  We want your donation experience to be pleasant. Please remember :
  Eat a well-balanced food before you donate. Tell us the name and dosage of any medications you are taking. Medications
  will not keep you from donating, but the reason for taking them might.
</p>

<p>
  <b>What should I bring with me?</b>
  <br>
  When you come to donate blood, bring the list of medications that you are currently taking.
</p>

<p>
  <b>What happens during blood donation?</b>
  <br>
  What happens during blood donation?
  You will complete a donor registration form that includes your name, address and a few other details. You will be
  asked a few questions about your health. You will go through a simple medical checkup including blood pressure, and
  pulse. A drop of blood will be obtained from your finger tip to test for Hemoglobin% and your group. You will proceed
  to a donor bed where your arm will be cleaned with antiseptic. During the donation process, you will donate 350 ml or
  450ml depending on your weight. After the process is over, you will rest for about 5 minutes. Following your donation,
  you will be given refreshment. Please, remember to take your donor card. How long does it take to give blood? The
  donation process includes registration, medical screening, the blood collection, and time for refreshments. For whole
  blood, the the actual blood collection takes 5 to 7 minutes. For apheresis (platelet) collections, the entire process
  takes two hours.
</p>

<p>
  <b>Will I have any problems after donating blood and do I need to take any special care?</b>
  <br>
  No, you will generally not have any problem after donating. However, if you feel light-headed or dizzy even after 5
  mts of rest and having refreshments, lie down with your legs raised until the feeling passes. If some bleeding occurs,
  apply pressure to the site and keep your arm raised for three to five minutes. Our doctor is available to see that you
  leave the camp perfectly fine.
</p>

<p>
  <b>Please observe the following suggestions post-donation:</b>
  <br>
  Increase your fluid intake for the next 24 hours. Do not smoke or chew tobacco for 30 minutes. Avoid strenuous
  physical exertion, heavy lifting or pulling with the donation arm for at least 24 hrs. However, do not hesitate to
  contact the blood bank if you have any problems or questions. Can women also donate as much as men do? Yes. But for
  women, the Heaomoglobin count is a significant factor. Often, we see that many women have HB less than 12.0. In such
  cases, they cannot donate. This is a major reason for lower prevelance of blood donation among women.
</p>


<p>
  <b>What is the universal blood type?</b>
  <br>
  Only 'O' Negative redcells can be given to all other blood groups. It is not available most of the times. Hence,
  universal donation is not practiced very frequently. Moreover, other specific blood groups are mostly available for
  transfusion. O positive red cells can be given to other Rh positive groups.Donate Blood. Save Lives.(Source : Google
  Search)
</p>

<p>
  <b>BLOOD TYPES</b>
  <br>
  A blood type (also called a blood group) is a classification ofblood based on the presence or absence of inherited
  antigenicsubstances on the surface of red blood cells (RBCs). These antigens may be proteins, carbohydrates,
  glycoproteins, orglycolipids, depending on the blood group system. Some of these antigens are also present on the
  surface of other types of cells of various tissues. Several of these red blood cell surface antigens can stem from one
  allele (or very closely linked genes) and collectively form a blood group system. Blood types areinherited and
  represent contributions from both parents. A total of 30 human blood group systems are now recognized by the
  International Society of Blood Transfusion (ISBT). Many pregnant women carry a fetus with a blood type different from
  their own, and the mother can form antibodies against fetal RBCs. Sometimes these maternal antibodies are IgG, a small
  immunoglobulin, which can cross the placenta and causehemolysis of fetal RBCs, which in turn can lead to hemolytic
  disease of the newborn, an illness of low fetal blood counts that ranges from mild to severe.
</p>


<p>
  <b>Blood group systems</b>
  <br>
  A complete blood type would describe a full set of 30 substances on the surface of RBCs, and an individual's blood
  type is one of the many possible combinations of blood-group antigens.[ Across the 30 blood groups, over 600 different
  blood-group antigens have been found, but many of these are very rare, some being found mainly in certain ethnic
  groups. Almost always, an individual has the same blood group for life, but very rarely an individual's blood type
  changes through addition or suppression of an antigen in infection, malignancy, or autoimmune disease. Another more
  common cause in blood type change is abone marrow transplant. Bone-marrow transplants are performed for many leukemias
  and lymphomas, among other diseases. If a person receives bone marrow from someone who is a different ABO type (e.g.,
  a type A patient receives a type O bone marrow), the patient's blood type will eventually convert to the donor's type.
  Some blood types are associated with inheritance of other diseases; for example, the Kell antigen is sometimes
  associated with McLeod syndrome. Certain blood types may affect susceptibility to infections, an example being the
  resistance to specific malaria species seen in individuals lacking the Duffy antigen. The Duffy antigen, presumably as
  a result of natural selection, is less common in ethnic groups from areas with a high incidence of malaria.
</p>

<p>
  <b>ABO blood group system</b>
  <br>
  The ABO system is the most important blood-group system in human-blood transfusion. The associated anti-A and anti-B
  antibodies are usuallyImmunoglobulin M, abbreviated IgM, antibodies. ABO IgM antibodies are produced in the first
  years of life by sensitization to environmental substances such as food, bacteria, and viruses. The O in ABO is often
  called 0 (zero, or null) in other languages.
</p>


<p>
  <b>Rh blood group system</b>
  <br>
  The Rh system is the second most significant blood-group system in human-blood transfusion with currently 50 antigens.
  The most significant Rh antigen is the D antigen, because it is the most likely to provoke an immune system response
  of the five main Rh antigens. It is common for D-negative individuals not to have any anti-D IgG or IgM antibodies,
  because anti-D antibodies are not usually produced by sensitization against environmental substances. However,
  D-negative individuals can produce IgG anti-D antibodies following a sensitizing event: possibly a fetomaternal
  transfusion of blood from a fetus in pregnancy or occasionally a blood transfusion with D positive RBCs. Rh disease
  can develop in these cases. Rh negative blood types are much less in proportion of Asian populations (0.3%) than they
  are in White (15%). In the table below, the presence or absence of the Rh antigens is signified by the + or - sign, so
  that for example the A- group does not have any of the Rh antigens. Blood group B has its highest frequency in
  Northern India and neighboring Central Asia, and its incidence diminishes both towards the west and the east, falling
  to single digit percentages in Spain. It is believed to have been entirely absent from Native American and Australian
  Aboriginal populations prior to the arrival of Europeans in those areas. Blood group A is associated with high
  frequencies in Europe, especially in Scandinavia and Central Europe, although its highest frequencies occur in some
  Australian Aborigine populations and the Blackfoot Indians of Montana.
</p>


<p>
  <b>Other blood group systems</b>
  <br>
  The International Society of Blood Transfusion currently recognizes 30 blood-group systems (including the ABO and Rh
  systems). Thus, in addition to the ABO antigens and Rh antigens, many other antigens are expressed on the RBC surface
  membrane. For example, an individual can be AB, D positive, and at the same time M and N positive (MNS system), K
  positive (Kell system), Lea or Leb negative (Lewis system), and so on, being positive or negative for each blood group
  system antigen. Many of the blood group systems were named after the patients in whom the corresponding antibodies
  were initially encountered.
</p>


<p>
  <b>Clinical significance</b>
  <br>
  Transfusion medicine is a specialized branch of hematology that is concerned with the study of blood groups, along
  with the work of a blood bank to provide a transfusion service for blood and other blood products. Across the world,
  blood products must be prescribed by a medical doctor (licensed physician or surgeon) in a similar way as medicines.
  <br>
  Much of the routine work of a blood bank involves testing blood from both donors and recipients to ensure that every
  individual recipient is given blood that is compatible and is as safe as possible. If a unit of incompatible blood is
  transfused between a donor and recipient, a severe acute hemolytic reaction with hemolysis (RBC destruction), renal
  failure and shock is likely to occur, and death is a possibility. Antibodies can be highly active and can attack RBCs
  and bind components of the complement system to cause massive hemolysis of the transfused blood. Patients should
  ideally receive their own blood or type-specific blood products to minimize the chance of a transfusion reaction.
  Risks can be further reduced by cross-matching blood, but this may be skipped when blood is required for an emergency.
  Cross-matching involves mixing a sample of the recipient's serum with a sample of the donor's red blood cells and
  checking if the mixture agglutinates, or forms clumps. If agglutination is not obvious by direct vision, blood bank
  technicians usually check for agglutination with a microscope. If agglutination occurs, that particular donor's blood
  cannot be transfused to that particular recipient. In a blood bank it is vital that all blood specimens are correctly
  identified, so labeling has been standardized using abarcode system known as ISBT 128. The blood group may be included
  on identification tags or on tattoos worn by military personnel, in case they should need an emergency blood
  transfusion. Frontline German Waffen-SS had blood group tattoos during World War II. Rare blood types can cause supply
  problems for blood banks and hospitals. For example Duffy-negative blood occurs much more frequently in people of
  African origin and the rarity of this blood type in the rest of the population can result in a shortage of
  Duffy-negative blood for patients of African race. Similarly for RhD negative people, there is a risk associated with
  travelling to parts of the world where supplies of RhD negative blood are rare, particularly East Asia, where blood
  services may endeavor to encourage Westerners to donate blood.
</p>


<p>
  <b>Blood products</b>
  <br>
  To provide maximum benefit from each blood donation and to extend shelf-life, blood banks fractionate some whole blood
  into several products. The most common of these products are packed RBCs, plasma, platelets, cryop recipitate, and
  fresh frozen plasma (FFP). FFP is quick-frozen to retain the labile clotting factors V and VIII, which are usually
  administered to patients who have a potentially fatal clotting problem caused by a condition such as advanced liver
  disease, overdose of anticoagulant, or disseminated intravascular coagulation (DIC). Units of packed red cells are
  made by removing as much of the plasma as possible from whole blood units. Clotting factors synthesized by modern
  recombinant methods are now in routine clinical use for hemophilia, as the risks of infection transmission that occur
  with pooled blood products are avoided.
</p>


<p>
  <b>Red blood cell compatibility</b>
  <br>
  Blood group AB individuals have both A and B antigens on the surface of their RBCs, and their blood plasma does not
  contain any antibodies against either A or B antigen. Therefore, an individual with type AB blood can receive blood
  from any group (with AB being preferable), but can donate blood only to another type AB individual. Blood group A
  individuals have the A antigen on the surface of their RBCs, and blood serum containing IgM antibodies against the B
  antigen. Therefore, a group A individual can receive blood only from individuals of groups A or O (with A being
  preferable), and can donate blood to individuals with type A or AB. Blood group B individuals have the B antigen on
  the surface of their RBCs, and blood serum containing IgM antibodies against the A antigen. Therefore, a group B
  individual can receive blood only from individuals of groups B or O (with B being preferable), and can donate blood to
  individuals with type B or AB. Blood group O (or blood group zero in some countries) individuals do not have either A
  or B antigens on the surface of their RBCs, but their blood serum contains IgM anti-A and anti-B antibodies against
  the A and B blood group antigens. Therefore, a group O individual can receive blood only from a group O individual,
  but can donate blood to individuals of any ABO blood group (i.e., A, B, O or AB). If anyone needs a blood transfusion
  in an emergency, and if the time taken to process the recipient's blood would cause a detrimental delay, O Negative
  blood can be issued.
</p>


<p>
  <b>Universal donors and universal recipients</b>
  <br>
  With regard to transfusions of whole blood or packed red blood cells, individuals with type O Rh D negative blood are
  often called universal donors, and those with type AB Rh D positive blood are called universal recipients; however,
  these terms are only generally true with respect to possible reactions of the recipient's anti-A and anti-B antibodies
  to transfused red blood cells, and also possible sensitization to Rh D antigens. One exception is individuals with hh
  antigen system (also known as the Bombay blood group) who can only receive blood safely from other hh donors, because
  they form antibodies against the H substance. Blood donors with particularly strong anti-A, anti-B or any atypical
  blood group antibody are excluded from blood donation. The possible reactions of anti-A and anti-B antibodies present
  in the transfused blood to the recipients RBCs need not be considered, because a relatively small volume of plasma
  containing antibodies is transfused. By way of example: considering the transfusion of O Rh D negative blood
  (universal donor blood) into a recipient of blood group A Rh D positive, an immune reaction between the recipient's
  anti-B antibodies and the transfused RBCs is not anticipated. However, the relatively small amount of plasma in the
  transfused blood contains anti-A antibodies, which could react with the A antigens on the surface of the recipients
  RBCs, but a significant reaction is unlikely because of the dilution factors. Rh D sensitization is not anticipated.
  Additionally, red blood cell surface antigens other than A, B and Rh D, might cause adverse reactions and
  sensitization, if they can bind to the corresponding antibodies to generate an immune response. Transfusions are
  further complicated because platelets and white blood cells(WBCs) have their own systems of surface antigens, and
  sensitization to platelet or WBC antigens can occur as a result of transfusion. With regard to transfusions of plasma,
  this situation is reversed. Type O plasma, containing both anti-A and anti-B antibodies, can only be given to O
  recipients. The antibodies will attack the antigens on any other blood type. Conversely, AB plasma can be given to
  patients of any ABO blood group due to not containing any anti-A or anti-B antibodies.
</p>
