.dashboard-container {
  margin-top: 2rem;
  padding: 0 2rem;

  nav {
    text-decoration: none;
    width: 100%;

    a {
      color: #585858;
      text-decoration: none;
      padding: 20px;
    }
  }


}
