.card {
  margin-bottom: 8px;
  max-width: 100%;
}

.doner-container {
  min-height: calc(100vh);
}


.header-image {
  text-align: center;
  background-color: #F44336;

}

.header-image label {
  // text-align: center;
  padding: 5px;
  background-size: cover;
  color: white;
  font-weight: bold;

}

mat-card-actions {
  text-align: center;
  border-radius: 2px solid #F44336;
}

.help-button {
  text-align: center;
  border: 2px solid #F44336;
  border-radius: 25px;
  padding: 8px;
  cursor: pointer;
}

.location-icon {
  position: relative;
  top: 7px;
}

.blood-group {
  position: relative;
  top: 3px;
}
