<div class="doner-container">
  <div class="row">
    <div class="col heading">
      <h3>Doners List</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 " *ngFor="let list of doners">
      <mat-card class="card">
        <mat-card-header>

          <div mat-card-avatar class="header-image">
            <label class="blood-group">{{list.bloodGroup }}</label>
          </div>
          <mat-card-title *ngIf="list.name == 'null'">Name is Not Available </mat-card-title>
          <mat-card-title *ngIf="list.name != 'null'">{{list.name | titlecase}} </mat-card-title>
          <mat-card-subtitle>
            <span> {{list.email}} </span>
            <div>
              <span class="material-icons location-icon">
                place
              </span>
              <span *ngIf="!list.district">No District found</span>
              <span>{{list.district}} </span>
            </div>

          </mat-card-subtitle>
        </mat-card-header>

        <!-- <mat-card-actions>
          <span class="help-button">Ask For Help</span>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>
