.main-container {
  margin-top: 100px;
  // padding: 64px;
}

.event {
  margin: auto;
}

.menu-items {
  background-color: #BEBEBE;

}

.menu-items a {
  text-decoration: none;
}

.container {
  padding: 50px;
  margin-bottom: 80px;
}

.menu-name {
  font-weight: bold;
  font-size: 18px;
}
