.main-container {
  padding-top: 1rem;
}

.event {
  margin: auto;
}

.menu-items {
  background-color: #BEBEBE;

}

.menu-items a {
  text-decoration: none;
}

.container {
  padding: 50px;
  margin-bottom: 80px;
}

.menu-name {
  font-weight: bold;
  font-size: 18px;
}
