.main-footer {
  background: #EBECF0;
  padding: 2rem;
  margin-top: 3rem;
  font-size: large;
  font-weight: bold;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: block;
  margin: 1rem 0;
}

.main-footer__link a {
  color: #FF0000;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
